source/commands/testdata/100MB.zip

source/commands/error.html
source/commands/testdata/200MB.zip
source/commands/testdata/20MB.zip
source/commands/testdata/5MB.zip
source/commands/testdata/1MB.zip
source/commands/testdata/1GB.zip
source/commands/testdata/50MB.zip
Cryptobox/images/Thumbs.db
cba_main.spec
cp.py.lnk
kill_on_change_procs.py.lnk
resource/Thumbs.db
source/commands/cba_main.lnk
source/commands/when_changed.py.lnk
when_changed.py.lnk
dist
app.running
nohup.out
build
build/*.log
build/Cryptobox.dmg
source/commands/testdata/testmap/
__MACOSX/
server/.idea/workspace.xml
app/img/cblogo
server/.idea/workspace.xml
server/.idea/

/Users/rabshakeh/workspace/cryptobox/www_cryptobox_nl/app/img/cblogo/
cblogo/
*.idea
.DS_Store
*.pyo
*.pyc
*.lock
create_*.sh


#git filter-branch --force --index-filter 'git rm --cached --ignore-unmatch create_*.sh' --prune-empty --tag-name-filter cat -- --all
