<!DOCTYPE html>
<html ng-app="cryptoboxApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <META NAME="copyright" CONTENT="Cryptobox is copyrighted by Active8 BV (www.a8.nl)">

    <title>Cryptobox</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/cryptobox_app.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/md5.min.js"></script>
    <script type="text/javascript" src="js/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/app_basic.min.js"></script>
    <script type="text/javascript" src="js/pouchdb-nightly.min.js"></script>
    <script type="text/javascript" src="cryptobox.js"></script>
</head>
<body>

<div ng-controller="cryptobox_ctrl">

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <blockquote>
                <img src="images/logo-cryptobox.png"><br/>

                <p class="lead" ng-show="cryptobox_locked">local data encrypted <i class="fa fa-lock" style="color:#fe7474;"></i></p>
                <h6 ng-bind-html-unsafe="motivation"></h6>
            </blockquote>

        </div>

        <div class="col-sm-6">
            <br/>
            <small><br ng-hide="progress_message" />{{progress_message}}</small>
            <div class="progress" style="max-height: 10px;">
                <div class="progress-bar progress-bar-info" role="progressbar" ng-style="get_progress()">
                    <span class="sr-only"></span>
                </div>
            </div>

            <div class="progress" style="max-height: 10px;">
                <div class="progress-bar progress-bar-info" role="progressbar" ng-style="get_progress_item()">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" role="form">
                <div class="btn-group btn-group">
                    <button type="button" ng-disabled="get_lock_buttons()||disable_sync_button" class="btn btn-success" ng-click="sync_btn()"><i class="fa fa-refresh" ng-hide="state_syncing" style="margin-right: 4px"></i><i class="fa fa-refresh fa-spin" ng-show="state_syncing" style="margin-right: 4px"></i>sync with server</button>
                </div>

                <div class="btn-group btn-group">
                    <button type="button" ng-disabled="get_lock_buttons()||disable_encrypt_button" class="btn btn-danger" ng-click="encrypt_btn()"><i class="fa fa-lock" style="margin-right: 4px"></i>encrypt</button>
                    <button type="button" ng-disabled="get_lock_buttons()||disable_decrypt_button" class="btn btn-primary" ng-click="decrypt_btn()"><i class="fa fa-unlock" style="margin-right: 4px"></i>decrypt</button>
                </div>

                <div class="btn-group btn-group pull-right">

                    <button type="button" class="btn btn-default" ng-click="open_website()"><i class="fa fa-external-link" style="margin-right: 4px"></i>website</button>
                    <button type="button" class="btn btn-default" ng-click="open_folder()"><i class="fa fa-folder-open" style="margin-right: 4px"></i>folder</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
        </div>
    </div>

    <div class="well" ng-show="show_settings">
        <button type="button" class="close" ng-click="toggle_settings()" aria-hidden="true" style="margin-top: -12px; margin-right: -8px;">&times;</button>
        <br/>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="cb_folder" class="col-sm-3 control-label">cryptobox folder</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng_model="cb_folder_text" ng-change="form_change()" placeholder="Cryptobox folder, klik om te veranderen" onclick="document.getElementById('cb_folder').click();">

                    <div style='height: 0;width:0; overflow:hidden;'><input type="file" id="cb_folder" class="form-control" nwdirectory ng-file-select="file_input_change($files)"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="cb_username">username</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-change="form_change()" id="cb_username" ng_model="cb_username" placeholder="username">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="cb_password">password</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-change="form_change()" id="cb_password" ng_model="cb_password" placeholder="password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="cb_name">cryptobox naam</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-change="form_change()" id="cb_name" ng_model="cb_name" placeholder="naam cryptobox">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="cb_server">cryptobox server</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-change="form_change()" id="cb_server" ng_model="cb_server" placeholder="cryptobox server">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="show_debug" ng-click="toggle_debug()">show log</label>

                <div class="col-sm-9" style="margin-top: 4px;">
                    <input id="show_debug" type="checkbox" ng-model="show_debug">

                    <div class="btn-group btn-group pull-right">
                        <button type="button" id="btn_donw" class="btn btn-success" ng-click="form_save()" ng-disabled="!form_changed"><i class="fa fa-save"></i>&nbsp;save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row" ng-hide="cryptobox_locked">
        <div class="col-sm-12">
            <table class="table" ng-show="file_downloads">
                <tr class="success">
                    <td width="1"><i class="fa fa-file-o"></i></td>
                    <td width="85%"><i class="fa fa-cloud"></i>&nbsp;files to download</td>
                    <td><i class="fa fa-hdd-o"></i></td>
                </tr>
                <tr ng-repeat="f in file_downloads">
                    <td><i class="fa fa-cloud-download"></i></td>
                    <td width="85%">{{ f.doc.m_path }}</td>
                    <td>{{ f.doc.m_size }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" ng-hide="cryptobox_locked">
        <div class="col-sm-12">
            <table class="table" ng-show="file_uploads">
                <tr class="success">
                    <td width="1"><i class="fa fa-file-o"></i></td>
                    <td width="85%"><i class="fa fa-gears"></i>&nbsp;files to upload</td>
                    <td><i class="fa fa-hdd-o"></i></td>
                </tr>
                <tr ng-repeat="f in file_uploads">
                    <td><i class="fa fa-cloud-upload"></i></td>
                    <td width="85%">{{ f.rel_path }}</td>
                    <td>{{ f.size }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" ng-hide="cryptobox_locked">
        <div class="col-sm-12">
            <table class="table" ng-show="dir_make_local">
                <tr class="success">
                    <td width="1"><i class="fa fa-folder-o"></i></td>
                    <td><i class="fa fa-gears"></i>&nbsp;folders to make local</td>
                </tr>
                <tr ng-repeat="f in dir_make_local">
                    <td><i class="fa fa-plus"></i></td>
                    <td>{{ f.relname }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" ng-hide="cryptobox_locked">
        <div class="col-sm-12">
            <table class="table" ng-show="dir_make_server">
                <tr class="success">
                    <td width="1"><i class="fa fa-folder-o"></i></td>
                    <td><i class="fa fa-cloud"></i>&nbsp;folders to make on server</td>
                </tr>
                <tr ng-repeat="f in dir_make_server">
                    <td><i class="fa fa-plus"></i></td>
                    <td>{{ f.relname }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" ng-hide="cryptobox_locked">
        <div class="col-sm-12">
            <table class="table" ng-show="dir_del_server">
                <tr class="danger">
                    <td width="1"><i class="fa fa-folder-o"></i></td>
                    <td><i class="fa fa-cloud"></i>&nbsp;folders to delete on server</td>
                </tr>
                <tr ng-repeat="f in dir_del_server">
                    <td><i class="fa fa-times"></i></td>
                    <td>{{ f }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" ng-hide="cryptobox_locked">
        <div class="col-sm-12">
            <table class="table" ng-show="dir_del_local">
                <tr class="danger">
                    <td width="1"><i class="fa fa-folder-o"></i></td>
                    <td><i class="fa fa-gears"></i>&nbsp;folders to delete local</td>
                </tr>
                <tr ng-repeat="f in dir_del_local">
                    <td><i class="fa fa-times"></i></td>
                    <td>{{ f.dirname }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" ng-hide="cryptobox_locked">
        <div class="col-sm-12">
            <table class="table" ng-show="file_del_server">
                <tr class="danger">
                    <td width="1"><i class="fa fa-file-o"></i></td>
                    <td><i class="fa fa-cloud"></i>&nbsp;files to delete on server</td>
                </tr>
                <tr ng-repeat="f in file_del_server">
                    <td><i class="fa fa-times"></i></td>
                    <td>{{ f }}</td>
                </tr>
            </table>
        </div>
    </div>


    <div class="row" ng-hide="cryptobox_locked">
        <div class="col-sm-12">
            <table class="table" ng-show="file_del_local">
                <tr class="danger">
                    <td width="1"><i class="fa fa-file-o"></i></td>
                    <td><i class="fa fa-gears"></i>&nbsp;files to delete local</td>
                </tr>
                <tr ng-repeat="f in file_del_local">
                    <td><i class="fa fa-times"></i></td>
                    <td>{{ f }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" ng-show="show_debug">

            <button type="button" class="close" ng-click="toggle_debug()" aria-hidden="true" style="margin: 8px;">&times;</button>
            <button type="button" class="close" ng-click="clear_msg_buffer()" aria-hidden="true" style="margin: 8px;"><i class="fa fa-trash-o"></i></button>
            <button type="button" class="close" ng-click="debug_btn()"><i class="fa fa-search" style="margin: 8px"></i></button>

            <pre style="font-size: 12px; min-height: 38px;">{{ cmd_output }}</pre>
        </div>
    </div>

</div>
</div>

</body>
</html>
