<!DOCTYPE html>
<html ng-app="cryptoboxApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <META NAME="copyright" CONTENT="Cryptobox is copyrighted by Active8 BV (www.a8.nl)">

    <title>Cryptobox</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/md5.min.js"></script>
    <script type="text/javascript" src="js/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/app_basic.min.js"></script>
    <script type="text/javascript" src="js/pouchdb-nightly.min.js"></script>
    <script type="text/javascript" src="cryptobox.js"></script>
</head>
<body>

<div ng-controller="cryptobox_ctrl">

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <blockquote>
                    <p class="lead">Cryptobox syncer</p>
                    <small>version: {{cba_version}} pre-alpha</small>
                </blockquote>
            </div>

            <div class="col-sm-6">
                <br/><br/>

                <div class="progress" style="max-height: 10px;">
                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="get_progress()">
                        <span class="sr-only"></span>
                    </div>
                </div>

                <div class="progress" style="max-height: 10px;">
                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="get_progress_item()">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal" role="form">
                    <div class="btn-group btn-group-lg pull-left">
                        <button type="button" ng-disabled="lock_buttons()" class="btn btn-default" ng-click="sync_btn()"><i class="icon-refresh" style="margin-right: 4px"></i>sync</button>
                        <button type="button" ng-disabled="lock_buttons()" class="btn btn-default" ng-click="encrypt_btn()"><i class="icon-lock" style="margin-right: 4px"></i>encrypt local</button>
                        <button type="button" ng-disabled="lock_buttons()" class="btn btn-default" ng-click="decrypt_btn()"><i class="icon-unlock" style="margin-right: 4px"></i>decrypt local</button>
                    </div>

                    <div class="btn-group btn-group-xs pull-right">
                        <button type="button" ng-disabled="lock_buttons()" class="btn btn-default" ng-click="check_btn()"><i class="icon-refresh" style="margin-right: 4px"></i>check</button>
                        <button type="button" ng-disabled="lock_buttons()" class="btn btn-default" ng-click="debug_btn()"><i class="icon-search" style="margin-right: 4px"></i>inspect</button>
                        <button type="button" ng-disabled="lock_buttons()" class="btn btn-default" ng-click="open_website()"><i class="icon-external-link" style="margin-right: 4px"></i>website</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <br/>
            </div>
        </div>

        <div class="well" ng-show="show_settings">
            <button type="button" class="close" ng-click="toggle_settings()" aria-hidden="true" style="margin-top: -12px; margin-right: -8px;">&times;</button>
            <br/>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="cb_folder" class="col-sm-3 control-label">cryptobox folder</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng_model="cb_folder_text" ng-change="form_change()" placeholder="Cryptobox folder, klik om te veranderen" onclick="document.getElementById('cb_folder').click();">

                        <div style='height: 0;width:0; overflow:hidden;'><input type="file" id="cb_folder" class="form-control" nwdirectory ng-file-select="file_input_change($files)"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cb_username">username</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-change="form_change()" id="cb_username" ng_model="cb_username" placeholder="username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cb_password">password</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" ng-change="form_change()" id="cb_password" ng_model="cb_password" placeholder="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cb_name">cryptobox naam</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-change="form_change()" id="cb_name" ng_model="cb_name" placeholder="naam cryptobox">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cb_server">cryptobox server</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-change="form_change()" id="cb_server" ng_model="cb_server" placeholder="cryptobox server">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="show_debug">show log</label>

                    <div class="col-sm-9" style="margin-top: 4px;">
                        <input id="show_debug" type="checkbox" ng-model="show_debug" ng-change="form_change()">
                        <button type="button" id="btn_donw" class="btn btn-default pull-right" ng-click="toggle_settings()">done</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-12" ng-show="show_debug">
                <button type="button" class="close" ng-click="toggle_debug()" aria-hidden="true" style="margin: 8px;">&times;</button>
                <pre style="font-size: 12px; min-height: 38px;">{{ cmd_output }}</pre>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table" ng-show="file_uploads">                    
                    <tr class="success">
                        <td>files to upload</td>
                    </tr>                    
                    <tr ng-repeat="f in file_uploads">
                        <td>{{ f.local_file_path }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

</body>
</html>
